﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <table>
            <tr>
                <th>test</th>
            </tr>
        </table>
    </div>
</div>